@font-face{
	font-family: 'PTM55F';
	src: url(../fonts/PTM55F_W.ttf);
}
@font-face{
	font-family: 'aorta';
	src: url(../fonts/aorta.otf);
}
body{
	
}
.container-fluid{
	background-color: #fff;
}
#wrapper{
    background-color: #00bfff;
}
.clear {
    clear: both;
}
.error {
    color: #e80c4d;
}
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}


/* header description
-----------------------------------*/
#header_content{
	background-color: black;
}
#header_logo{
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 10px;
}
#header_logo_img {
    height: 40px;
	width: 137.85px;
	background: url(../images/Gaslight-site_logo.png) left top no-repeat;
    -ms-background-size: 137.85px 40px;
    background-size: 137.85px 40px;
}
#main_menu{
	padding-top: 10px;
	padding-left: 40px;
	font-family: "PTM55F";
	font-size: 12px;
}
.main_menu_item{
	padding-left: 5px!important;
	padding-right: 5px!important;
	margin-right: 7px;
	border: 2px solid #fff;
    font-family: 'PTM55F';
}
.main_menu_item{
	padding-left: 5px!important;
	padding-right: 5px!important;
	margin-right: 7px;
	border: 2px solid #fff;
}
#main_phone{
	font-family: "PTM55F";
	padding: 0!important;
	margin: 0!important;
	height: 40px;
}
.main_phone_text{
	text-align: right;
	padding: 0!important;
	margin: 0!important;
}
#phone{
	font-size: 20px;
	color: white;
	padding-right: 40px;
}

/* footer description
-----------------------------------*/
#footer{
	background-color: #ffffff;
}
#contacts_l{
}
#contacts_r{
}
.credits {
    text-align: center; 
    font-family: "PTM55F";
    font-size: 12px;

}
.footer-list {
    list-style-type: none;   
}
.footer_contact {
    font-family: "PTM55F";
    padding-top: 10px;
}
.footer_contact_text {
    float: left;
    padding-left: 15px;
}
#pic_1 {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/phone.png) left top no-repeat;
    background-size: cover;
}
#pic_2 {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/email.png) left top no-repeat;
    background-size: cover;
}
#pic_3 {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/skype.png) left top no-repeat;
    background-size: cover;
}
#pic_4 {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/facebook.png) left top no-repeat;
    background-size: cover;
}
#pic_5 {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/twitter.png) left top no-repeat;
    background-size: cover;
}
#pic_6 {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/instagram.png) left top no-repeat;
    background-size: cover;
}

/* font body decription
------------------------------------------*/

#main_content {
    height: 600px;
    background-color: #adf555;
}
#font_item {
    margin-top: 15px;
}
#font_item_header {
    border: 1px solid #000;
}
#font_item_img {
    height: 100px;
    background-color: gold;
}
#font_item_price {
    height: 100px;
}
#price {
    margin-top: 22px;
	font-family: 'PTM55F';
	font-size: 40px;
}
#font_item_showbutton {
    height: 100px;
}
#font_item_showbutton_img {
    background: url(../images/cross.png) left top no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	margin-left: 25px;
	margin-top: 23px;
    background-color: pink;
}
#font_item_content {
    border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
    display: none;
}
#font_cyr {
    margin-top: 10px; 
	background-overflow: hidden!important;
}
#font_cyr_img {
    height: 170px;
	width: 710px;
	background: url(../images/action_cyr.png) left top no-repeat;
	background-size: 706.3px 170px;
	
	margin-top: 40px;
	margin-bottom: 60px;
	margin-left: 30px;
}
#font_menu{
	height: 40px;
	padding-top: 10px;
	padding-left: 150px;
    background-color: pink;
}
.font_menu_item{
	padding-left: 5px!important;
	padding-right: 5px!important;
	margin-right: 7px;
	border: 2px solid #000;
	font-family: "PTM55F";
	font-size: 12px;
	color: #000;
}