@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" id="main_content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8  col-md-offset-2" id="title_text">
                <p id="about_text">
                    Gaslight-type-foundry, объединение трёх дизайнеров: Валерия Заверяева, Романа Щюкина и Марии Луарвик, создано летом 2011 года. Создание шрифтов наше хобби. Хобби, которое увлекает нас почти полностью. Наша цель - создание качественных шрифтов с поддержкой латиницы и киррилицы, для использования в всевозможных направлениях дизайна.
                </p>
            </div>
            <!--Valery-->
            <div class="col-xs-12 col-sm-12 col-md-12 personage">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 avatar" id="val_avatar">

                    </div>
                    <div class="hidden-xs col-sm-6 col-sm-offset-1 col-md-6  col-lg-8  avatar_description">
                        <p class="about_name">Валерий Заверяев</p>
                        <p class="about_description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." </p>
                    </div>
                </div>
            </div>
            <!--Roman-->
            <div class="col-xs-12 col-sm-12 col-md-12 personage">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 avatar" id="rom_avatar"></div>
                    <div class="hidden-xs col-sm-6 col-sm-offset-1 col-md-6  col-lg-8  avatar_description">
                        <p class="about_name">Роман Щюкин</p>
                        <p class="about_description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." </p>
                    </div>
                </div>
            </div>
            <!--Maria-->
            <div class="col-xs-12 col-sm-12 col-md-12 personage">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 avatar" id="mar_avatar"></div>
                    <div class="hidden-xs col-sm-6 col-sm-offset-1 col-md-6  col-lg-8  avatar_description">
                        <p class="about_name">Мария Луарвик</p>
                        <p class="about_description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." </p>
                    </div>
                </div>
            </div>
                

          </div>  
    </div>
</div>