@{
    ViewBag.Title = "Thanx";
}

<div>
    <h2>Ваш шрифт записан. </h2>
    <h3>Ожидайте...</h3>
</div>
<div class="backToAdmin">
    <a href="@Url.Action("Index", "Changer")">Back</a>
</div>
